*{
  padding: 0;
  margin: 0;
}
body{
  margin: 0;
  padding: 0;
  font-family: "Raleway";
  color: #444;
  font-size: 120%;
  text-align: center;
}
.container{
  text-align: center;
}
body h1{
  color: green;
  font-weight: 600;
  margin-bottom: 20px;
}
.filter{
  font-family: "Open Sans";
}
.filter input[type = radio]{
  position: relative;
  left: -9990px;
}
.filter input[type = radio]:checked + label{
  background: #888;
  color: #fff;
  box-shadow: 3px 2px 8px #eee;
}
.filter label{
  padding: 6px 10px;
  font-size: 18px;
  font-family: Raleway;
  border-radius: 5px;
  transition: all 0.25s;
  box-shadow: 2px 2px 4px #eee;
}
label:hover{
  box-shadow: -2px 4px 8px #888;
}
ul {
  list-style-type: none;
  padding: 0px;
  margin: 20px auto;
  display: flex;
  flex-wrap: wrap;
}
ul li{
  margin: 10px 10px;
  padding: 0px; 
}
ul li a:hover{
  text-decoration: none;
}
ul li .cardSize{
  max-width: 250px;
}
.card-header .logoImageLeft img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: inline-block; 
}
.card-body,.card-footer,.card-header{
  padding: 5px 0 0 0;
  margin: 0px;
}
.card-body img{
  width: auto;
  height: auto;
}
.card-footer span{
  font-size: 15px;
}
body ul li .offlineImage img{
  max-width: 245px;
}
.channelName{
  padding: 10px;
}
@media(max-width: 1300px) {
  body .container ul {
    width: 100%;
  }
  ul li{
    margin: 15px 30px;
  }
}
@media(max-width:900px){

  ul li.cardSize{
    width: 240px;
  }
}
@media(max-width: 770px) {
  ul li .cardSize{
    width: 180px;
  }
  body ul li .offlineImage img{
    width: 175px;
    height: 180px;
  }
}
@media(max-width: 527px) {
  ul li .cardSize{
    width: 250px;
    margin-left: 30px;
  }
  .container ul{
    margin-left: 15px;
  }
  body ul li .offlineImage img{
    width: 150px;
    height: 180px;
  }
}
@media(max-width: 350px){
  ul{
    margin: 0px;
    text-align: center;
  }
  li{
    margin: 0px;
    width: inherit;
  }
  ul li .cardSize{
    max-width: 220px;
    margin: 0px;
  }
}